Loowoo.Land.OA.Service.Missive/Web References/WebReference/JSWJ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0032_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mmjb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jjcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwbh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lsh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wjzl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwdw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ztc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cjrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qsrq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lylb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromXxid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromWebServicePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0032_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_x0032_Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0031_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mmjb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jjcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwbh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lsh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wjzl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwdw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ztc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cjrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qsrq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lylb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0031_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_x0031_Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0033_">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mmjb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jjcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwbh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lsh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wjzl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwdw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ztc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cjrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qsrq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lylb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_x0033_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_x0033_Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sjdx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dxnr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sjdxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sjdxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wj_fj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ftableid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjpath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lytype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wj_fjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wj_fjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fjmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFile_DWJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fjmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ifCreate" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFile_DWJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFile_DWJResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wjxxid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jsjbgg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xxid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsdwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lylb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jsjbggResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsjbggResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jsjbggfj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ftableid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjpath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jsjbggfjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsjbggfjResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSJHM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSJHMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSJHMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateJSWJBT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateJSWJBTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateJSWJBTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cswj_swfw_Wb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zwStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromWebServicePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsdwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ly" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cswj_swfw_WbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cswj_swfw_WbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cswj_xwgg_Wb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="infoStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsdwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ly" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cswj_xwgg_WbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cswj_xwgg_WbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wj_fj_qzf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ftableid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fjpath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lytype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wj_fj_qzfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wj_fj_qzfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="js_wj_qzf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mmjb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jjcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwbh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lsh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wjzl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lwdw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ztc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cjrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qsrq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lylb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="js_wj_qzfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="js_wj_qzfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jsxwgg_zb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xxid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lmtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbrid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbrxm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fbsj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsdwid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="czlx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wjly" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="jsxwgg_zbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsxwgg_zbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="_x0032_SoapIn">
    <wsdl:part name="parameters" element="tns:_x0032_" />
  </wsdl:message>
  <wsdl:message name="_x0032_SoapOut">
    <wsdl:part name="parameters" element="tns:_x0032_Response" />
  </wsdl:message>
  <wsdl:message name="_x0031_SoapIn">
    <wsdl:part name="parameters" element="tns:_x0031_" />
  </wsdl:message>
  <wsdl:message name="_x0031_SoapOut">
    <wsdl:part name="parameters" element="tns:_x0031_Response" />
  </wsdl:message>
  <wsdl:message name="_x0033_SoapIn">
    <wsdl:part name="parameters" element="tns:_x0033_" />
  </wsdl:message>
  <wsdl:message name="_x0033_SoapOut">
    <wsdl:part name="parameters" element="tns:_x0033_Response" />
  </wsdl:message>
  <wsdl:message name="sjdxSoapIn">
    <wsdl:part name="parameters" element="tns:sjdx" />
  </wsdl:message>
  <wsdl:message name="sjdxSoapOut">
    <wsdl:part name="parameters" element="tns:sjdxResponse" />
  </wsdl:message>
  <wsdl:message name="wj_fjSoapIn">
    <wsdl:part name="parameters" element="tns:wj_fj" />
  </wsdl:message>
  <wsdl:message name="wj_fjSoapOut">
    <wsdl:part name="parameters" element="tns:wj_fjResponse" />
  </wsdl:message>
  <wsdl:message name="getFileSoapIn">
    <wsdl:part name="parameters" element="tns:getFile" />
  </wsdl:message>
  <wsdl:message name="getFileSoapOut">
    <wsdl:part name="parameters" element="tns:getFileResponse" />
  </wsdl:message>
  <wsdl:message name="getFile_DWJSoapIn">
    <wsdl:part name="parameters" element="tns:getFile_DWJ" />
  </wsdl:message>
  <wsdl:message name="getFile_DWJSoapOut">
    <wsdl:part name="parameters" element="tns:getFile_DWJResponse" />
  </wsdl:message>
  <wsdl:message name="lcSoapIn">
    <wsdl:part name="parameters" element="tns:lc" />
  </wsdl:message>
  <wsdl:message name="lcSoapOut">
    <wsdl:part name="parameters" element="tns:lcResponse" />
  </wsdl:message>
  <wsdl:message name="jsjbggSoapIn">
    <wsdl:part name="parameters" element="tns:jsjbgg" />
  </wsdl:message>
  <wsdl:message name="jsjbggSoapOut">
    <wsdl:part name="parameters" element="tns:jsjbggResponse" />
  </wsdl:message>
  <wsdl:message name="jsjbggfjSoapIn">
    <wsdl:part name="parameters" element="tns:jsjbggfj" />
  </wsdl:message>
  <wsdl:message name="jsjbggfjSoapOut">
    <wsdl:part name="parameters" element="tns:jsjbggfjResponse" />
  </wsdl:message>
  <wsdl:message name="getSJHMSoapIn">
    <wsdl:part name="parameters" element="tns:getSJHM" />
  </wsdl:message>
  <wsdl:message name="getSJHMSoapOut">
    <wsdl:part name="parameters" element="tns:getSJHMResponse" />
  </wsdl:message>
  <wsdl:message name="updateJSWJBTSoapIn">
    <wsdl:part name="parameters" element="tns:updateJSWJBT" />
  </wsdl:message>
  <wsdl:message name="updateJSWJBTSoapOut">
    <wsdl:part name="parameters" element="tns:updateJSWJBTResponse" />
  </wsdl:message>
  <wsdl:message name="cswj_swfw_WbSoapIn">
    <wsdl:part name="parameters" element="tns:cswj_swfw_Wb" />
  </wsdl:message>
  <wsdl:message name="cswj_swfw_WbSoapOut">
    <wsdl:part name="parameters" element="tns:cswj_swfw_WbResponse" />
  </wsdl:message>
  <wsdl:message name="cswj_xwgg_WbSoapIn">
    <wsdl:part name="parameters" element="tns:cswj_xwgg_Wb" />
  </wsdl:message>
  <wsdl:message name="cswj_xwgg_WbSoapOut">
    <wsdl:part name="parameters" element="tns:cswj_xwgg_WbResponse" />
  </wsdl:message>
  <wsdl:message name="wj_fj_qzfSoapIn">
    <wsdl:part name="parameters" element="tns:wj_fj_qzf" />
  </wsdl:message>
  <wsdl:message name="wj_fj_qzfSoapOut">
    <wsdl:part name="parameters" element="tns:wj_fj_qzfResponse" />
  </wsdl:message>
  <wsdl:message name="js_wj_qzfSoapIn">
    <wsdl:part name="parameters" element="tns:js_wj_qzf" />
  </wsdl:message>
  <wsdl:message name="js_wj_qzfSoapOut">
    <wsdl:part name="parameters" element="tns:js_wj_qzfResponse" />
  </wsdl:message>
  <wsdl:message name="jsxwgg_zbSoapIn">
    <wsdl:part name="parameters" element="tns:jsxwgg_zb" />
  </wsdl:message>
  <wsdl:message name="jsxwgg_zbSoapOut">
    <wsdl:part name="parameters" element="tns:jsxwgg_zbResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_x0032_HttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
    <wsdl:part name="fromXxid" type="s:string" />
    <wsdl:part name="fromWebServicePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x0032_HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_x0031_HttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x0031_HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_x0033_HttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x0033_HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sjdxHttpGetIn">
    <wsdl:part name="dxnr" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sjdxHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wj_fjHttpGetIn">
    <wsdl:part name="ftableid" type="s:string" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="fjpath" type="s:string" />
    <wsdl:part name="lytype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wj_fjHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFileHttpGetIn">
    <wsdl:part name="file" type="s1:StringArray" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFile_DWJHttpGetIn">
    <wsdl:part name="file" type="s1:StringArray" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
    <wsdl:part name="ifCreate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFile_DWJHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lcHttpGetIn">
    <wsdl:part name="wjxxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="lcHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggHttpGetIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
    <wsdl:part name="fbr" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggfjHttpGetIn">
    <wsdl:part name="ftableid" type="s:string" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="fjpath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggfjHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSJHMHttpGetIn">
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="lb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSJHMHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="updateJSWJBTHttpGetIn">
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateJSWJBTHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cswj_swfw_WbHttpGetIn">
    <wsdl:part name="infoStr" type="s:string" />
    <wsdl:part name="zwStr" type="s:string" />
    <wsdl:part name="fjStr" type="s:string" />
    <wsdl:part name="fromWebServicePath" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
    <wsdl:part name="ly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cswj_swfw_WbHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cswj_xwgg_WbHttpGetIn">
    <wsdl:part name="infoStr" type="s:string" />
    <wsdl:part name="fjStr" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
    <wsdl:part name="ly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cswj_xwgg_WbHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wj_fj_qzfHttpGetIn">
    <wsdl:part name="ftableid" type="s:string" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="fjpath" type="s:string" />
    <wsdl:part name="lytype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wj_fj_qzfHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="js_wj_qzfHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="js_wj_qzfHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="jsxwgg_zbHttpGetIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="lmtype" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="fbrid" type="s:string" />
    <wsdl:part name="fbrxm" type="s:string" />
    <wsdl:part name="fbsj" type="s:string" />
    <wsdl:part name="nr" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="czlx" type="s:string" />
    <wsdl:part name="wjly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="jsxwgg_zbHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_x0032_HttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
    <wsdl:part name="fromXxid" type="s:string" />
    <wsdl:part name="fromWebServicePath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x0032_HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_x0031_HttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x0031_HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="_x0033_HttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="_x0033_HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sjdxHttpPostIn">
    <wsdl:part name="dxnr" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sjdxHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wj_fjHttpPostIn">
    <wsdl:part name="ftableid" type="s:string" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="fjpath" type="s:string" />
    <wsdl:part name="lytype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wj_fjHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFileHttpPostIn">
    <wsdl:part name="file" type="s1:StringArray" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getFile_DWJHttpPostIn">
    <wsdl:part name="file" type="s1:StringArray" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
    <wsdl:part name="ifCreate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getFile_DWJHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="lcHttpPostIn">
    <wsdl:part name="wjxxid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="lcHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggHttpPostIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
    <wsdl:part name="fbr" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggfjHttpPostIn">
    <wsdl:part name="ftableid" type="s:string" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="fjpath" type="s:string" />
  </wsdl:message>
  <wsdl:message name="jsjbggfjHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSJHMHttpPostIn">
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="lb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSJHMHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="updateJSWJBTHttpPostIn">
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateJSWJBTHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cswj_swfw_WbHttpPostIn">
    <wsdl:part name="infoStr" type="s:string" />
    <wsdl:part name="zwStr" type="s:string" />
    <wsdl:part name="fjStr" type="s:string" />
    <wsdl:part name="fromWebServicePath" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
    <wsdl:part name="ly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cswj_swfw_WbHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="cswj_xwgg_WbHttpPostIn">
    <wsdl:part name="infoStr" type="s:string" />
    <wsdl:part name="fjStr" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="newid" type="s:string" />
    <wsdl:part name="ly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="cswj_xwgg_WbHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wj_fj_qzfHttpPostIn">
    <wsdl:part name="ftableid" type="s:string" />
    <wsdl:part name="fjmc" type="s:string" />
    <wsdl:part name="fjpath" type="s:string" />
    <wsdl:part name="lytype" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wj_fj_qzfHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="js_wj_qzfHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="mmjb" type="s:string" />
    <wsdl:part name="jjcd" type="s:string" />
    <wsdl:part name="lwbh" type="s:string" />
    <wsdl:part name="lsh" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="wjzl" type="s:string" />
    <wsdl:part name="lwdw" type="s:string" />
    <wsdl:part name="ztc" type="s:string" />
    <wsdl:part name="zy" type="s:string" />
    <wsdl:part name="cjrid" type="s:string" />
    <wsdl:part name="dwid" type="s:string" />
    <wsdl:part name="qsrq" type="s:string" />
    <wsdl:part name="lylb" type="s:string" />
  </wsdl:message>
  <wsdl:message name="js_wj_qzfHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="jsxwgg_zbHttpPostIn">
    <wsdl:part name="xxid" type="s:string" />
    <wsdl:part name="lmtype" type="s:string" />
    <wsdl:part name="bt" type="s:string" />
    <wsdl:part name="fbrid" type="s:string" />
    <wsdl:part name="fbrxm" type="s:string" />
    <wsdl:part name="fbsj" type="s:string" />
    <wsdl:part name="nr" type="s:string" />
    <wsdl:part name="jsdwid" type="s:string" />
    <wsdl:part name="czlx" type="s:string" />
    <wsdl:part name="wjly" type="s:string" />
  </wsdl:message>
  <wsdl:message name="jsxwgg_zbHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="JSWJSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <wsdl:input name="_x0032_" message="tns:_x0032_SoapIn" />
      <wsdl:output name="_x0032_" message="tns:_x0032_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <wsdl:input name="_x0031_" message="tns:_x0031_SoapIn" />
      <wsdl:output name="_x0031_" message="tns:_x0031_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <wsdl:input name="_x0033_" message="tns:_x0033_SoapIn" />
      <wsdl:output name="_x0033_" message="tns:_x0033_SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <wsdl:input message="tns:sjdxSoapIn" />
      <wsdl:output message="tns:sjdxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <wsdl:input message="tns:wj_fjSoapIn" />
      <wsdl:output message="tns:wj_fjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <wsdl:input message="tns:getFileSoapIn" />
      <wsdl:output message="tns:getFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <wsdl:input message="tns:getFile_DWJSoapIn" />
      <wsdl:output message="tns:getFile_DWJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lc">
      <wsdl:input message="tns:lcSoapIn" />
      <wsdl:output message="tns:lcSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <wsdl:input message="tns:jsjbggSoapIn" />
      <wsdl:output message="tns:jsjbggSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <wsdl:input message="tns:jsjbggfjSoapIn" />
      <wsdl:output message="tns:jsjbggfjSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <wsdl:input message="tns:getSJHMSoapIn" />
      <wsdl:output message="tns:getSJHMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <wsdl:input message="tns:updateJSWJBTSoapIn" />
      <wsdl:output message="tns:updateJSWJBTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <wsdl:input message="tns:cswj_swfw_WbSoapIn" />
      <wsdl:output message="tns:cswj_swfw_WbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <wsdl:input message="tns:cswj_xwgg_WbSoapIn" />
      <wsdl:output message="tns:cswj_xwgg_WbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <wsdl:input message="tns:wj_fj_qzfSoapIn" />
      <wsdl:output message="tns:wj_fj_qzfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <wsdl:input message="tns:js_wj_qzfSoapIn" />
      <wsdl:output message="tns:js_wj_qzfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <wsdl:input message="tns:jsxwgg_zbSoapIn" />
      <wsdl:output message="tns:jsxwgg_zbSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="JSWJHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <wsdl:input name="_x0032_" message="tns:_x0032_HttpGetIn" />
      <wsdl:output name="_x0032_" message="tns:_x0032_HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <wsdl:input name="_x0031_" message="tns:_x0031_HttpGetIn" />
      <wsdl:output name="_x0031_" message="tns:_x0031_HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <wsdl:input name="_x0033_" message="tns:_x0033_HttpGetIn" />
      <wsdl:output name="_x0033_" message="tns:_x0033_HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <wsdl:input message="tns:sjdxHttpGetIn" />
      <wsdl:output message="tns:sjdxHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <wsdl:input message="tns:wj_fjHttpGetIn" />
      <wsdl:output message="tns:wj_fjHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <wsdl:input message="tns:getFileHttpGetIn" />
      <wsdl:output message="tns:getFileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <wsdl:input message="tns:getFile_DWJHttpGetIn" />
      <wsdl:output message="tns:getFile_DWJHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="lc">
      <wsdl:input message="tns:lcHttpGetIn" />
      <wsdl:output message="tns:lcHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <wsdl:input message="tns:jsjbggHttpGetIn" />
      <wsdl:output message="tns:jsjbggHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <wsdl:input message="tns:jsjbggfjHttpGetIn" />
      <wsdl:output message="tns:jsjbggfjHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <wsdl:input message="tns:getSJHMHttpGetIn" />
      <wsdl:output message="tns:getSJHMHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <wsdl:input message="tns:updateJSWJBTHttpGetIn" />
      <wsdl:output message="tns:updateJSWJBTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <wsdl:input message="tns:cswj_swfw_WbHttpGetIn" />
      <wsdl:output message="tns:cswj_swfw_WbHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <wsdl:input message="tns:cswj_xwgg_WbHttpGetIn" />
      <wsdl:output message="tns:cswj_xwgg_WbHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <wsdl:input message="tns:wj_fj_qzfHttpGetIn" />
      <wsdl:output message="tns:wj_fj_qzfHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <wsdl:input message="tns:js_wj_qzfHttpGetIn" />
      <wsdl:output message="tns:js_wj_qzfHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <wsdl:input message="tns:jsxwgg_zbHttpGetIn" />
      <wsdl:output message="tns:jsxwgg_zbHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="JSWJHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <wsdl:input name="_x0032_" message="tns:_x0032_HttpPostIn" />
      <wsdl:output name="_x0032_" message="tns:_x0032_HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <wsdl:input name="_x0031_" message="tns:_x0031_HttpPostIn" />
      <wsdl:output name="_x0031_" message="tns:_x0031_HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <wsdl:input name="_x0033_" message="tns:_x0033_HttpPostIn" />
      <wsdl:output name="_x0033_" message="tns:_x0033_HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <wsdl:input message="tns:sjdxHttpPostIn" />
      <wsdl:output message="tns:sjdxHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <wsdl:input message="tns:wj_fjHttpPostIn" />
      <wsdl:output message="tns:wj_fjHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <wsdl:input message="tns:getFileHttpPostIn" />
      <wsdl:output message="tns:getFileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <wsdl:input message="tns:getFile_DWJHttpPostIn" />
      <wsdl:output message="tns:getFile_DWJHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="lc">
      <wsdl:input message="tns:lcHttpPostIn" />
      <wsdl:output message="tns:lcHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <wsdl:input message="tns:jsjbggHttpPostIn" />
      <wsdl:output message="tns:jsjbggHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <wsdl:input message="tns:jsjbggfjHttpPostIn" />
      <wsdl:output message="tns:jsjbggfjHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <wsdl:input message="tns:getSJHMHttpPostIn" />
      <wsdl:output message="tns:getSJHMHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <wsdl:input message="tns:updateJSWJBTHttpPostIn" />
      <wsdl:output message="tns:updateJSWJBTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <wsdl:input message="tns:cswj_swfw_WbHttpPostIn" />
      <wsdl:output message="tns:cswj_swfw_WbHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <wsdl:input message="tns:cswj_xwgg_WbHttpPostIn" />
      <wsdl:output message="tns:cswj_xwgg_WbHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <wsdl:input message="tns:wj_fj_qzfHttpPostIn" />
      <wsdl:output message="tns:wj_fj_qzfHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <wsdl:input message="tns:js_wj_qzfHttpPostIn" />
      <wsdl:output message="tns:js_wj_qzfHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <wsdl:input message="tns:jsxwgg_zbHttpPostIn" />
      <wsdl:output message="tns:jsxwgg_zbHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JSWJSoap" type="tns:JSWJSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <soap:operation soapAction="http://tempuri.org/2" style="document" />
      <wsdl:input name="_x0032_">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0032_">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <soap:operation soapAction="http://tempuri.org/1" style="document" />
      <wsdl:input name="_x0031_">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0031_">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <soap:operation soapAction="http://tempuri.org/3" style="document" />
      <wsdl:input name="_x0033_">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0033_">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <soap:operation soapAction="http://tempuri.org/sjdx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <soap:operation soapAction="http://tempuri.org/wj_fj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <soap:operation soapAction="http://tempuri.org/getFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <soap:operation soapAction="http://tempuri.org/getFile_DWJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lc">
      <soap:operation soapAction="http://tempuri.org/lc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <soap:operation soapAction="http://tempuri.org/jsjbgg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <soap:operation soapAction="http://tempuri.org/jsjbggfj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <soap:operation soapAction="http://tempuri.org/getSJHM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <soap:operation soapAction="http://tempuri.org/updateJSWJBT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <soap:operation soapAction="http://tempuri.org/cswj_swfw_Wb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <soap:operation soapAction="http://tempuri.org/cswj_xwgg_Wb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <soap:operation soapAction="http://tempuri.org/wj_fj_qzf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <soap:operation soapAction="http://tempuri.org/js_wj_qzf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <soap:operation soapAction="http://tempuri.org/jsxwgg_zb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JSWJSoap12" type="tns:JSWJSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <soap12:operation soapAction="http://tempuri.org/2" style="document" />
      <wsdl:input name="_x0032_">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0032_">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <soap12:operation soapAction="http://tempuri.org/1" style="document" />
      <wsdl:input name="_x0031_">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0031_">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <soap12:operation soapAction="http://tempuri.org/3" style="document" />
      <wsdl:input name="_x0033_">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="_x0033_">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <soap12:operation soapAction="http://tempuri.org/sjdx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <soap12:operation soapAction="http://tempuri.org/wj_fj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <soap12:operation soapAction="http://tempuri.org/getFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <soap12:operation soapAction="http://tempuri.org/getFile_DWJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lc">
      <soap12:operation soapAction="http://tempuri.org/lc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <soap12:operation soapAction="http://tempuri.org/jsjbgg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <soap12:operation soapAction="http://tempuri.org/jsjbggfj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <soap12:operation soapAction="http://tempuri.org/getSJHM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <soap12:operation soapAction="http://tempuri.org/updateJSWJBT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <soap12:operation soapAction="http://tempuri.org/cswj_swfw_Wb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <soap12:operation soapAction="http://tempuri.org/cswj_xwgg_Wb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <soap12:operation soapAction="http://tempuri.org/wj_fj_qzf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <soap12:operation soapAction="http://tempuri.org/js_wj_qzf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <soap12:operation soapAction="http://tempuri.org/jsxwgg_zb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JSWJHttpGet" type="tns:JSWJHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <http:operation location="/2" />
      <wsdl:input name="_x0032_">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="_x0032_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <http:operation location="/1" />
      <wsdl:input name="_x0031_">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="_x0031_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <http:operation location="/3" />
      <wsdl:input name="_x0033_">
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output name="_x0033_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <http:operation location="/sjdx" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <http:operation location="/wj_fj" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <http:operation location="/getFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <http:operation location="/getFile_DWJ" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lc">
      <http:operation location="/lc" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <http:operation location="/jsjbgg" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <http:operation location="/jsjbggfj" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <http:operation location="/getSJHM" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <http:operation location="/updateJSWJBT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <http:operation location="/cswj_swfw_Wb" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <http:operation location="/cswj_xwgg_Wb" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <http:operation location="/wj_fj_qzf" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <http:operation location="/js_wj_qzf" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <http:operation location="/jsxwgg_zb" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JSWJHttpPost" type="tns:JSWJHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj2">
      <http:operation location="/2" />
      <wsdl:input name="_x0032_">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="_x0032_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj">
      <http:operation location="/1" />
      <wsdl:input name="_x0031_">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="_x0031_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_notify">
      <http:operation location="/3" />
      <wsdl:input name="_x0033_">
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output name="_x0033_">
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sjdx">
      <http:operation location="/sjdx" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj">
      <http:operation location="/wj_fj" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <http:operation location="/getFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile_DWJ">
      <http:operation location="/getFile_DWJ" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lc">
      <http:operation location="/lc" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbgg">
      <http:operation location="/jsjbgg" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsjbggfj">
      <http:operation location="/jsjbggfj" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSJHM">
      <http:operation location="/getSJHM" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateJSWJBT">
      <http:operation location="/updateJSWJBT" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_swfw_Wb">
      <http:operation location="/cswj_swfw_Wb" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cswj_xwgg_Wb">
      <http:operation location="/cswj_xwgg_Wb" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wj_fj_qzf">
      <http:operation location="/wj_fj_qzf" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="js_wj_qzf">
      <http:operation location="/js_wj_qzf" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jsxwgg_zb">
      <http:operation location="/jsxwgg_zb" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JSWJ">
    <wsdl:port name="JSWJSoap" binding="tns:JSWJSoap">
      <soap:address location="http://115.231.121.254/Webservice/JSWJ/JSWJ.asmx" />
    </wsdl:port>
    <wsdl:port name="JSWJSoap12" binding="tns:JSWJSoap12">
      <soap12:address location="http://115.231.121.254/Webservice/JSWJ/JSWJ.asmx" />
    </wsdl:port>
    <wsdl:port name="JSWJHttpGet" binding="tns:JSWJHttpGet">
      <http:address location="http://115.231.121.254/Webservice/JSWJ/JSWJ.asmx" />
    </wsdl:port>
    <wsdl:port name="JSWJHttpPost" binding="tns:JSWJHttpPost">
      <http:address location="http://115.231.121.254/Webservice/JSWJ/JSWJ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>